<h1>Register</h1>
<div style="background-color: #d4c0c9;">
    <select id="admin/user">
      <option value="">Select Admin/User</option>
        <option value="admin">Admin</option>
        <option value="user">User</option>
      </select><br>
    <input type="text" id="email" placeholder="Enter email"><br>
    <input type="text" id="username" placeholder="Enter Username"><br>
    <input type="text" id="mobileNumber" placeholder="Enter Mobilenumber"><br>
    <input type="text" id="password" placeholder="Password"><br>
    <input type="text" id="confirmPassword" placeholder="Confirm Password"><br>
    <button type="submit" id="submitButton">Submit</button>
    <p>Already a user?  <a href="/login">Login</a></p>
    

</div>
