 
#notificationBody{
    background: #f2f1f1;
    padding: 25px;
    margin: 50px;
    border-radius: 20px;
    transition: all .2s ease-in-out;
    height: 250px;
    border:6px solid rgb(149, 13, 190);
    text-align: center;
}
nav{
    background-color:purple;
}
.design
{
height: 800px;
background-size:100% ;

}
#na{
height: 50px;
}
#notification{
    font-weight: bold;
}

.style
{
position: absolute;
right: 10px;

}