nav{
    background-color:purple;
}
.design
{
height: 800px;
background-size:100% ;

}
#na{
height: 50px;
}

.style
{
position: absolute;
right: 10px;

}
#review{
    font-weight: bold;
}


  

  